body{
  background-image:linear-gradient(red, orange, yellow, green, blue, purple);
  background-size:cover;
  background-attachment:fixed;
  background-position:center center;
}

img{
  height:50px;
  width:50px;
}
