
       /*notes:
  box shadow order: left and right, up or down, blurr, how far
  */  
        
       p{
         font-family:sans-serif;
         font-size:20px;
         padding: 0 40px;
       }
       
       section img{
         width: 50%;
         height: 50%;
       }
       
        body header {
         background-image: url(https://goo.gl/6N1vva);
         background-size:cover;
         height:540px;
        }
        
       body{
         margin:0;
       }
       body footer{
         Background-color:#121681;
       }
       
       header nav{
         display:flex;
       }
       
        img{
          object-fit:cover;
        }
        section{
          overflow:auto;
        }
        
        /*#banner{
        display:flex;
        justify-content:center;
        background-color:#0e0745;
        box-shadow:10px 10px 10px 0 black;
        margin: 0 10px;
        color:aqua;
        height:70px;
        text-align:center;
        }*/
        
        footer nav{
        display:flex;
        }
        
         nav a:first-child{
          margin-right:auto;
        }
        
        nav a{
          font-size:16px;
          margin-right:2%;
          text-decoration:none;
        }
        
        .active{
          color:aqua;
        }
        
        section{
        height:auto;  
        }
        
        main section{
          background-color:aqua;
        }
        
        .event-background{
          color:aqua;
          background-color:#0e0745;
        }
