button{
  margin:5px 7px;
}
.hidden{
  display:none;
}
td{
  font-size:25px;
  height:125px;
  width:125px;
  display:block;
  text-align:center;
  background-color:blue;
  margin-right:10px;
  flex-direction:column;
  justify-content:center;
}
tr{
  display:flex;
  height:30%;
}
table{
  height:500px;
  width:500px;
}
