main{
  display:flex;
  flex-direction:column;
  width:250px;
}

button{
  margin-top:20px;
  width:75px;
  height:75px;
  border-radius:37.5px;
  text-align:center;
}

button:focus{
  outline:none;
}

button p{
  font-size:10px;
  word-wrap:break-word;
}

html{
  background:url(Caesar.jpg) no-repeat fixed center center;
  height:100%;
  background-size:cover;
}

form{
  display:flex;
  flex-direction:column;
  width:150px;
}
