p{
    line-height: 1.5
  }
  
  ul li{
    line-height: 1.5
  }
  
  a {
    text-decoration: none;
    color: blueviolet
  }
  
  header{
    padding: 20px
  }
  
  img{
    border:solid 20px #290129
  }
  
  body{
    color:#0900ff;
    font-family: serif;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    background-image:linear-gradient(#16012a, purple, #16012a);
  }
  
  header p {
    font-family: 'Courier New';
    border-bottom: 10px #290129 solid;
    text-align: center;
    text-height: 1.5
  }
  
  h1 {
    border: 10px #290129 solid;
    font-size: 55px;
    text-align: center
  }

  body footer {
    font-family: 'Lucida Bright';
    padding-top: 20px;
    font-size: 25px;
  }
  
  #Hunger{
    color: #c66c7c
  }
  
  #Health{
    color: red;
  }
  
  #Sanity{
    color:gray;
  }
  
  #Base{
    color:brown;
  }
